<!DOCTYPE html><html><head><meta name=viewport content="width=320,maximum-scale=1.3,user-scalable=no"><meta charset=utf-8><link rel=stylesheet type=text/css href=static\css\paratag.css><script type=text/javascript src=static/js/util.js></script><script type=text/javascript src=static/js/Carrousel.js></script><title>blog</title><style type=text/css>#app{
  		height:100%;
  		width: 100%;
  		overflow:hidden;
  	}</style><link href=/static/css/app.07b5014bb5e6f3624afdb0f1f4ea8889.css rel=stylesheet></head><body><main id=app></main><script type=text/javascript src=/static/js/manifest.2ae2e69a05c33dfc65f8.js></script><script type=text/javascript src=/static/js/vendor.2d9163dfeb141da10fb1.js></script><script type=text/javascript src=/static/js/app.aef2475a4365f929a3f8.js></script></body></html>