body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1160px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(224, 224, 224, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1394 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:8px;
  width:360px;
  height:640px;
  font-size:14px;
}
#u1395 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:45px;
}
#u1396 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:8px;
  width:360px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u1397 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:14px;
  width:342px;
  word-wrap:break-word;
}
#u1398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:37px;
}
#u1398 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:52px;
  width:360px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u1399 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:10px;
  width:342px;
  word-wrap:break-word;
}
#u1400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:508px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(224, 224, 224, 1);
  border-top:0px;
  border-radius:16px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1400 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:140px;
  width:360px;
  height:508px;
  font-size:14px;
}
#u1401 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:246px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1402_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:44px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(224, 224, 224, 1);
  border-bottom:0px;
  border-radius:16px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u1402 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:96px;
  width:360px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u1403 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:16px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1404 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:140px;
  width:365px;
  height:509px;
}
#u1405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u1405 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u1406 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:42px;
}
#u1407 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:260px;
  height:42px;
  color:#9E9E9E;
  text-align:left;
}
#u1408 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:13px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u1409 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:0px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u1410 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u1411 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u1412 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:42px;
}
#u1413 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:42px;
  width:260px;
  height:42px;
  color:#9E9E9E;
  text-align:left;
}
#u1414 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:13px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u1415 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:42px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u1416 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u1417 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:84px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u1418 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:42px;
}
#u1419 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:84px;
  width:260px;
  height:42px;
  color:#9E9E9E;
  text-align:left;
}
#u1420 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:13px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u1421 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:84px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u1422 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u1423 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:126px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u1424 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:42px;
}
#u1425 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:126px;
  width:260px;
  height:42px;
  color:#9E9E9E;
  text-align:left;
}
#u1426 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:13px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u1427 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:126px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u1428 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u1429 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:168px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u1430 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:42px;
}
#u1431 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:168px;
  width:260px;
  height:42px;
  color:#9E9E9E;
  text-align:left;
}
#u1432 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:13px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u1433 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:168px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u1434 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u1435 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u1436 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:42px;
}
#u1437 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:210px;
  width:260px;
  height:42px;
  color:#9E9E9E;
  text-align:left;
}
#u1438 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:13px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u1439 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:210px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u1440 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u1441 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:252px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u1442 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:42px;
}
#u1443 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:252px;
  width:260px;
  height:42px;
  color:#9E9E9E;
  text-align:left;
}
#u1444 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:13px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u1445 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:252px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u1446 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u1447 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:294px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u1448 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:42px;
}
#u1449 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:294px;
  width:260px;
  height:42px;
  color:#9E9E9E;
  text-align:left;
}
#u1450 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:13px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u1451 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:294px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u1452 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u1453 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:336px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u1454 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:42px;
}
#u1455 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:336px;
  width:260px;
  height:42px;
  color:#9E9E9E;
  text-align:left;
}
#u1456 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:13px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u1457 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:336px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u1458 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u1459 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:378px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u1460 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:42px;
}
#u1461 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:378px;
  width:260px;
  height:42px;
  color:#9E9E9E;
  text-align:left;
}
#u1462 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:13px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u1463 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:378px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u1464 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u1465 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:420px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u1466 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:42px;
}
#u1467 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:420px;
  width:260px;
  height:42px;
  color:#9E9E9E;
  text-align:left;
}
#u1468 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:13px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u1469 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:420px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u1470 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u1471 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:462px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u1472 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:42px;
}
#u1473 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:462px;
  width:260px;
  height:42px;
  color:#9E9E9E;
  text-align:left;
}
#u1474 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:13px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u1475 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:462px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u1476 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1477 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:96px;
  width:365px;
  height:49px;
}
#u1478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:44px;
}
#u1478 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#8BC34A;
}
#u1479 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  word-wrap:break-word;
}
#u1480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:44px;
}
#u1480 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:260px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#8BC34A;
  text-align:left;
}
#u1481 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:20px;
  width:250px;
  word-wrap:break-word;
}
#u1482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:44px;
}
#u1482 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:0px;
  width:50px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#8BC34A;
}
#u1483 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  word-wrap:break-word;
}
#u1484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:49px;
}
#u1484 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:8px;
  width:360px;
  height:48px;
  font-size:14px;
  text-align:left;
}
#u1485 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:16px;
  width:328px;
  word-wrap:break-word;
}
#u1486 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(189, 189, 189, 1);
  border:none;
  border-top:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u1487 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:8px;
  width:360px;
  height:640px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u1487_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(51, 105, 30, 0.8);
  border:none;
  border-top:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u1487.selected {
}
#u1488 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:64px;
  width:312px;
  word-wrap:break-word;
}
#u1489_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(158, 158, 158, 0.498039215686275);
  border:none;
  border-bottom:0px;
  border-radius:2px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u1489 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:8px;
  width:360px;
  height:48px;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u1489_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(51, 105, 30, 0.8);
  border:none;
  border-bottom:0px;
  border-radius:2px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u1489.selected {
}
#u1490 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:14px;
  width:336px;
  word-wrap:break-word;
}
