li[pt] {
  @extend .layout-h;
  height: $height-regular;
  line-height: $height-regular;
  position: relative;
  >* {
    margin: 0 $padding-quarter;
    &:last-child {
      margin-right: $padding-normal;
    }
    &:first-child {
      margin-left: $padding-normal;
    }
  }
  >label {
    flex: 0 0 auto;
  }
  >input {
    @extend .shade-cut;
    flex: 0 1 $width-dialog;
    line-height: $height-low;
    height: $height-low;
    padding: 0 $padding-half;
    border-radius: $height-low/2;
    transition: all $time-vivo ease;
    &:focus,
    &:hover {
      border: 1px solid $color-theme;
      box-shadow: 0 0 $padding-quarter $color-theme;
    }
  }
}
