toast {
    @extend .in-rotate;
    font-size: $ftsize-small;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: $padding-normal;
    border-radius: 2.6em;
    width: 24rem;
    margin-left: -(12rem + $padding-normal/2);
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
