button {
  cursor: pointer;
  color: $color-secondary;
  background-color: transparent;
  height: $height-low;
  transition: color 0.4s ease;
  &:hover {
    @extend .blink-wave;
    color: $color-primary;
  }
  &[pt-icon] {
    height: $height-regular;
    line-height: $height-regular;
    flex: 0 0 $height-regular;
  }
  &[pt-pos] {
    color: $color-theme;
    font-weight: 700;
    &:hover {
      @extend .blink-reverse;
    }
  }
  &[pt-neg] {
    color: $color-theme;
    &:hover {
      color: $color-theme;
    }
  }
  &[pt-clear] {
    flex: 0 0 $height-low;
    cursor: pointer;
    height: $height-low;
    border-radius: $radius-l;
    margin-left: - $height-low;
    color: $color-secondary;
  }
  &[pt-full] {
    width: 100%;
    border-radius: 0;
  }
  &[disabled] {
    color: $color-secondary;
  }
}

dl button,
li button {
  border-radius: $radius-l;
  flex: 0 0 $height-low;
  height: $height-low;
  line-height: $height-low;
  width: $height-low;
  border-radius: $radius-l;
}
