main[pt] {
  display: flex;
  flex-flow: row nowrap;
  >aside {
    flex: 0 0 20rem;
  }
  >article {
    flex: 1 1 100%;
  }
}

article[pt] {
  @extend .layout-v;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  header {
    @extend .shade-card;
    li {
      line-height: $height-high;
      height: $height-high;
    }
    background: $bgcolor-front;
  }
  >content {
    flex: 1 1 100%;
  }
}

@media (max-width: 767px) {
  article {
    flex: 1 0 100%;
  }
}
