body {
  margin:0px;
  background-color:rgba(245, 245, 245, 1);
  background-image:none;
  position:static;
  left:auto;
  width:760px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5351_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(224, 224, 224, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5351 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:8px;
  width:360px;
  height:640px;
  font-size:14px;
}
#u5352 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5353_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(33, 33, 33, 0.298039215686275);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5353 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:8px;
  width:360px;
  height:640px;
  font-size:14px;
}
#u5354 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:45px;
}
#u5355 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:8px;
  width:360px;
  height:44px;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u5356 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:14px;
  width:342px;
  word-wrap:break-word;
}
#u5357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:37px;
}
#u5357 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:52px;
  width:360px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u5358 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:10px;
  width:342px;
  word-wrap:break-word;
}
#u5359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:508px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(224, 224, 224, 1);
  border-top:0px;
  border-radius:16px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5359 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:140px;
  width:360px;
  height:508px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5360 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:246px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:44px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(224, 224, 224, 1);
  border-bottom:0px;
  border-radius:16px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u5361 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:96px;
  width:360px;
  height:44px;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u5362 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:16px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5363 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:140px;
  width:365px;
  height:509px;
}
#u5364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u5364 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u5365 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:42px;
}
#u5366 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:260px;
  height:42px;
  color:#9E9E9E;
  text-align:left;
}
#u5367 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:13px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u5368 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:0px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u5369 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u5370 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u5371 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:42px;
}
#u5372 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:42px;
  width:260px;
  height:42px;
  color:#9E9E9E;
  text-align:left;
}
#u5373 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:13px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u5374 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:42px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u5375 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u5376 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:84px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u5377 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:42px;
}
#u5378 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:84px;
  width:260px;
  height:42px;
  color:#9E9E9E;
  text-align:left;
}
#u5379 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:13px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u5380 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:84px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u5381 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u5382 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:126px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u5383 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:42px;
}
#u5384 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:126px;
  width:260px;
  height:42px;
  color:#9E9E9E;
  text-align:left;
}
#u5385 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:13px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u5386 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:126px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u5387 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u5388 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:168px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u5389 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:42px;
}
#u5390 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:168px;
  width:260px;
  height:42px;
  color:#9E9E9E;
  text-align:left;
}
#u5391 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:13px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u5392 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:168px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u5393 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u5394 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u5395 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:42px;
}
#u5396 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:210px;
  width:260px;
  height:42px;
  color:#9E9E9E;
  text-align:left;
}
#u5397 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:13px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u5398 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:210px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u5399 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u5400 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:252px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u5401 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:42px;
}
#u5402 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:252px;
  width:260px;
  height:42px;
  color:#9E9E9E;
  text-align:left;
}
#u5403 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:13px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u5404 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:252px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u5405 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u5406 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:294px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u5407 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:42px;
}
#u5408 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:294px;
  width:260px;
  height:42px;
  color:#9E9E9E;
  text-align:left;
}
#u5409 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:13px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u5410 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:294px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u5411 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u5412 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:336px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u5413 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:42px;
}
#u5414 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:336px;
  width:260px;
  height:42px;
  color:#9E9E9E;
  text-align:left;
}
#u5415 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:13px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u5416 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:336px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u5417 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u5418 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:378px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u5419 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:42px;
}
#u5420 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:378px;
  width:260px;
  height:42px;
  color:#9E9E9E;
  text-align:left;
}
#u5421 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:13px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u5422 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:378px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u5423 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u5424 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:420px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u5425 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:42px;
}
#u5426 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:420px;
  width:260px;
  height:42px;
  color:#9E9E9E;
  text-align:left;
}
#u5427 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:13px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u5428 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:420px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u5429 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u5430 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:462px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u5431 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:42px;
}
#u5432 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:462px;
  width:260px;
  height:42px;
  color:#9E9E9E;
  text-align:left;
}
#u5433 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:13px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u5434 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:462px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u5435 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5436 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:96px;
  width:365px;
  height:49px;
}
#u5437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:44px;
}
#u5437 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#8BC34A;
}
#u5438 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  word-wrap:break-word;
}
#u5439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:44px;
}
#u5439 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:260px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#8BC34A;
  text-align:left;
}
#u5440 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:20px;
  width:250px;
  word-wrap:break-word;
}
#u5441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:44px;
}
#u5441 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:0px;
  width:50px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#8BC34A;
}
#u5442 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  word-wrap:break-word;
}
#u5443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:168px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(224, 224, 224, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5443 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:192px;
  width:352px;
  height:168px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5444 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:76px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5445_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:48px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(224, 224, 224, 1);
  border-radius:16px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u5445 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:192px;
  width:352px;
  height:48px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u5446 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:16px;
  width:320px;
  word-wrap:break-word;
}
#u5447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#8BC34A;
}
#u5447 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:312px;
  width:352px;
  height:48px;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#8BC34A;
}
#u5448 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:348px;
  word-wrap:break-word;
}
#u5449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#424242;
  line-height:20px;
}
#u5449 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:240px;
  width:352px;
  height:72px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#424242;
  line-height:20px;
}
#u5450 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:16px;
  width:320px;
  word-wrap:break-word;
}
