body {
  margin:0px;
  background-color:rgba(245, 245, 245, 1);
  background-image:none;
  position:static;
  left:auto;
  width:760px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9532_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(224, 224, 224, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u9532 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:8px;
  width:360px;
  height:640px;
  font-size:14px;
}
#u9533 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9534_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:45px;
}
#u9534 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:8px;
  width:360px;
  height:44px;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u9535 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:14px;
  width:342px;
  word-wrap:break-word;
}
#u9536_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:37px;
}
#u9536 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:52px;
  width:360px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9537 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:10px;
  width:342px;
  word-wrap:break-word;
}
#u9538_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:508px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(224, 224, 224, 1);
  border-top:0px;
  border-radius:16px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u9538 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:140px;
  width:360px;
  height:508px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u9539 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:246px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9540_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:44px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(224, 224, 224, 1);
  border-bottom:0px;
  border-radius:16px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u9540 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:96px;
  width:360px;
  height:44px;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u9541 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:16px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9542 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:140px;
  width:365px;
  height:509px;
}
#u9543_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u9543 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u9544 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9545_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:42px;
}
#u9545 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:260px;
  height:42px;
  color:#9E9E9E;
  text-align:left;
}
#u9546 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:13px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9547_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u9547 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:0px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u9548 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u9549 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u9550 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:42px;
}
#u9551 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:42px;
  width:260px;
  height:42px;
  color:#9E9E9E;
  text-align:left;
}
#u9552 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:13px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u9553 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:42px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u9554 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9555_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u9555 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:84px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u9556 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:42px;
}
#u9557 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:84px;
  width:260px;
  height:42px;
  color:#9E9E9E;
  text-align:left;
}
#u9558 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:13px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u9559 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:84px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u9560 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9561_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u9561 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:126px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u9562 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9563_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:42px;
}
#u9563 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:126px;
  width:260px;
  height:42px;
  color:#9E9E9E;
  text-align:left;
}
#u9564 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:13px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9565_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u9565 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:126px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u9566 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u9567 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:168px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u9568 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:42px;
}
#u9569 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:168px;
  width:260px;
  height:42px;
  color:#9E9E9E;
  text-align:left;
}
#u9570 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:13px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9571_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u9571 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:168px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u9572 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u9573 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u9574 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:42px;
}
#u9575 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:210px;
  width:260px;
  height:42px;
  color:#9E9E9E;
  text-align:left;
}
#u9576 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:13px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u9577 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:210px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u9578 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u9579 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:252px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u9580 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:42px;
}
#u9581 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:252px;
  width:260px;
  height:42px;
  color:#9E9E9E;
  text-align:left;
}
#u9582 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:13px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u9583 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:252px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u9584 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u9585 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:294px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u9586 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:42px;
}
#u9587 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:294px;
  width:260px;
  height:42px;
  color:#9E9E9E;
  text-align:left;
}
#u9588 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:13px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u9589 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:294px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u9590 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u9591 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:336px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u9592 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:42px;
}
#u9593 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:336px;
  width:260px;
  height:42px;
  color:#9E9E9E;
  text-align:left;
}
#u9594 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:13px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u9595 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:336px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u9596 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u9597 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:378px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u9598 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:42px;
}
#u9599 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:378px;
  width:260px;
  height:42px;
  color:#9E9E9E;
  text-align:left;
}
#u9600 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:13px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u9601 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:378px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u9602 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u9603 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:420px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u9604 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:42px;
}
#u9605 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:420px;
  width:260px;
  height:42px;
  color:#9E9E9E;
  text-align:left;
}
#u9606 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:13px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u9607 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:420px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u9608 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u9609 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:462px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u9610 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:42px;
}
#u9611 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:462px;
  width:260px;
  height:42px;
  color:#9E9E9E;
  text-align:left;
}
#u9612 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:13px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u9613 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:462px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u9614 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9615 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:96px;
  width:365px;
  height:49px;
}
#u9616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:44px;
}
#u9616 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#8BC34A;
}
#u9617 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  word-wrap:break-word;
}
#u9618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:44px;
}
#u9618 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:260px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#8BC34A;
  text-align:left;
}
#u9619 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:20px;
  width:250px;
  word-wrap:break-word;
}
#u9620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:44px;
}
#u9620 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:0px;
  width:50px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#8BC34A;
}
#u9621 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  word-wrap:break-word;
}
#u9622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.698039215686274);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u9622 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:268px;
  width:120px;
  height:120px;
  font-size:12px;
  color:#FFFFFF;
}
#u9623 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:60px;
  width:88px;
  word-wrap:break-word;
}
#u9624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Free Solid Book', 'Font Awesome 5 Free Solid';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FAFAFA;
}
#u9624 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:277px;
  width:44px;
  height:44px;
  font-family:'Font Awesome 5 Free Solid Book', 'Font Awesome 5 Free Solid';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FAFAFA;
}
#u9624_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Free Solid Book', 'Font Awesome 5 Free Solid';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FAFAFA;
}
#u9624.mouseOver {
}
#u9625 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u9626 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:287px;
  width:24px;
  height:24px;
}
#u9627 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
