* {
    margin: 0;
    padding: 0;
}

td,
th,
caption {
    font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 100%;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

a {
    text-decoration: underline;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

img {
    border: none;
}

ol,
ul,
li {
    list-style: none;
}

input,
textarea,
select,
button,
pre {
    font-size: 1em;
    font-family: "Microsoft YaHei", sans-serif;
    color: inherit;
    border: none;
    outline: none;
    background: transparent;
    -webkit-appearance: none;
}

table {
    border-collapse: collapse;
}


.clearfix {
    *zoom: 1;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.blueDiv {
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 625%;
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Microsoft YaHei';
    font-size: 0.14rem;
}

.lay-h {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.lay-v {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.float-nw {
    position: absolute;
    left: 0;
    top: 0;
}

.float-se {
    position: absolute;
    bottom: 0;
    right: 0;
}

.float-ne {
    position: absolute;
    top: 0;
    right: 0;
}

.float-sw {
    position: absolute;
    bottom: 0;
    left: 0;
}

.pd-xs {
    padding: 0.04rem;
}

.pd-s {
    padding: 0.08rem;
}

.pd-s-v {
    padding: 0.08rem 0;
}

.pd-s-h {
    padding: 0 0.08rem;
}

.pd-m {
    padding: 0.16rem;
}

.pd-m-v {
    padding: 0.16rem 0;
}

.pd-m-h {
    padding: 0 0.16rem;
}

.bg-white {
    background-color: white
}

.bg-black {
    background-color: black;
}

.bg-mask {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
}

.bg-50 {
    background-color: #fafafa
}

.bg-100 {
    background-color: #f5f5f5
}

.bg-200 {
    background-color: #eee
}

.bg-400 {
    background-color: #bdbdbd
}

.bg-alert {
    background-color: #ff9800
}

.color-white {
    color: white;
}

.color-black {
    color: black;
}

.color-theme {
    color: #8bc34a;
}

.color-prim {
    color: #616161;
}

.color-sec {
    color: #9e9e9e;
}

.color-light {
    color: #757575;
}

.color-disable {
    color: #bdbdbd;
}

.color-line {
    color: #e0e0e0;
}

.color-alert {
    color: #ff9800;
}

.radius-s {
    border-radius: 0.02rem;
}

.radius-m {
    border-radius: 0.04rem;
}

.radius-l {
    border-radius: 0.20rem;
}

.fs-xl {
    font-size: 0.25rem;
}

.fs-l {
    font-size: 0.16rem;
}

.fs-m {
    font-size: 0.14rem;
}

.fs-s {
    font-size: 0.12rem;
}

.fs-xs {
    font-size: 0.1rem;
}

.shade-list>* {
    border-bottom: 1px solid rgba(1, 1, 1, 0.1);
}

.shade-list>*:last-child {
    border-bottom: none;
}

.shade-card {
    box-shadow: 0 0 1px #bdbdbd;
    overflow: hidden;
}

.shade-cut {
    border: 1px solid #e0e0e0;
    overflow: hidden;
}

.theme-mark {
    background-color: #8bc34a;
    color: white;
    fill: white;
}

.theme-dark {
    background-color: #616161;
    color: white;
}

.align-c {
    text-align: center;
}

.align-l {
    text-align: left;
}

.align-r {
    text-align: right;
}

.align-v {
    display: table;
}

.align-v>* {
    display: table-cell;
    vertical-align: middle;
}

.wd-max {
    width: 100%;
}

.wd-page {
    width: 7.67rem;
}

.wd-xxl {
    width: 3.6rem;
}

.wd-xl {
    width: 2rem;
}

.wd-l {
    width: 1.2rem;
    display: inline-block;
}

.wd-xs {
    width: 0.08rem;
    display: inline-block;
}

.wd-s {
    width: 0.32rem;
    display: inline-block;
}

.wd-m {
    width: 0.4rem;
    display: inline-block;
}

.ht-xxs {
    height: 0.24rem;
    line-height: 0.24rem;
}

.ht-xs {
    height: 0.28rem;
    line-height: 0.28rem;
}

.ht-s {
    height: 0.32rem;
    line-height: 0.32rem;
}

.ht-m {
    height: 0.4rem;
    line-height: 0.4rem;
}

.ht-l {
    height: 0.48rem;
    line-height: 0.48rem;
}

.ht-xl {
    height: 0.56rem;
}

.ht-dialog {
    height: 2.8rem;
}

.ht-max {
    height: 100%;
}