body {
  margin:0px;
  background-color:rgba(245, 245, 245, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1040px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:45px;
}
#u9735 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:8px;
  width:360px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u9736 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:14px;
  width:342px;
  word-wrap:break-word;
}
#u9737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:37px;
}
#u9737 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:52px;
  width:360px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9738 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:10px;
  width:342px;
  word-wrap:break-word;
}
#u9739_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:508px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(224, 224, 224, 1);
  border-top:0px;
  border-radius:16px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u9739 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:140px;
  width:360px;
  height:508px;
  font-size:14px;
}
#u9740 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:246px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9741_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:44px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(224, 224, 224, 1);
  border-bottom:0px;
  border-radius:16px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u9741 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:96px;
  width:360px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u9742 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:16px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9743 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:140px;
  width:365px;
  height:509px;
}
#u9744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u9744 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u9745 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:42px;
}
#u9746 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:260px;
  height:42px;
  color:#9E9E9E;
  text-align:left;
}
#u9747 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:13px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u9748 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:0px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u9749 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u9750 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u9751 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:42px;
}
#u9752 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:42px;
  width:260px;
  height:42px;
  color:#9E9E9E;
  text-align:left;
}
#u9753 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:13px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u9754 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:42px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u9755 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u9756 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:84px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u9757 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:42px;
}
#u9758 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:84px;
  width:260px;
  height:42px;
  color:#9E9E9E;
  text-align:left;
}
#u9759 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:13px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u9760 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:84px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u9761 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u9762 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:126px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u9763 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:42px;
}
#u9764 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:126px;
  width:260px;
  height:42px;
  color:#9E9E9E;
  text-align:left;
}
#u9765 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:13px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u9766 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:126px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u9767 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u9768 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:168px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u9769 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:42px;
}
#u9770 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:168px;
  width:260px;
  height:42px;
  color:#9E9E9E;
  text-align:left;
}
#u9771 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:13px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u9772 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:168px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u9773 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u9774 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u9775 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:42px;
}
#u9776 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:210px;
  width:260px;
  height:42px;
  color:#9E9E9E;
  text-align:left;
}
#u9777 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:13px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u9778 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:210px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u9779 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u9780 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:252px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u9781 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:42px;
}
#u9782 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:252px;
  width:260px;
  height:42px;
  color:#9E9E9E;
  text-align:left;
}
#u9783 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:13px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u9784 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:252px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u9785 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u9786 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:294px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u9787 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:42px;
}
#u9788 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:294px;
  width:260px;
  height:42px;
  color:#9E9E9E;
  text-align:left;
}
#u9789 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:13px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u9790 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:294px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u9791 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u9792 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:336px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u9793 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:42px;
}
#u9794 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:336px;
  width:260px;
  height:42px;
  color:#9E9E9E;
  text-align:left;
}
#u9795 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:13px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u9796 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:336px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u9797 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u9798 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:378px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u9799 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:42px;
}
#u9800 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:378px;
  width:260px;
  height:42px;
  color:#9E9E9E;
  text-align:left;
}
#u9801 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:13px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u9802 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:378px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u9803 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u9804 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:420px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u9805 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:42px;
}
#u9806 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:420px;
  width:260px;
  height:42px;
  color:#9E9E9E;
  text-align:left;
}
#u9807 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:13px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u9808 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:420px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u9809 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u9810 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:462px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u9811 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:42px;
}
#u9812 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:462px;
  width:260px;
  height:42px;
  color:#9E9E9E;
  text-align:left;
}
#u9813 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:13px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u9814 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:462px;
  width:50px;
  height:42px;
  color:#9E9E9E;
}
#u9815 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9816 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:96px;
  width:365px;
  height:49px;
}
#u9817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:44px;
}
#u9817 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#8BC34A;
}
#u9818 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  word-wrap:break-word;
}
#u9819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:44px;
}
#u9819 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:260px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#8BC34A;
  text-align:left;
}
#u9820 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:20px;
  width:250px;
  word-wrap:break-word;
}
#u9821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:44px;
}
#u9821 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:0px;
  width:50px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#8BC34A;
}
#u9822 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  word-wrap:break-word;
}
#u9823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:640px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(224, 224, 224, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u9823 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:8px;
  width:640px;
  height:640px;
  font-size:14px;
}
#u9824 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:44px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(224, 224, 224, 1);
  border-radius:16px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u9825 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:52px;
  width:360px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u9826 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:16px;
  width:342px;
  word-wrap:break-word;
}
#u9827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(224, 224, 224, 1);
  border-top:0px;
  border-radius:16px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#9E9E9E;
  text-align:left;
  line-height:20px;
}
#u9827 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:96px;
  width:360px;
  height:80px;
  font-size:14px;
  color:#9E9E9E;
  text-align:left;
  line-height:20px;
}
#u9828 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:30px;
  width:342px;
  word-wrap:break-word;
}
#u9829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#9E9E9E;
}
#u9829 {
  border-width:0px;
  position:absolute;
  left:988px;
  top:52px;
  width:44px;
  height:44px;
  font-size:18px;
  color:#9E9E9E;
}
#u9829_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#9E9E9E;
}
#u9829.mouseOver {
}
#u9830 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u9831 {
  border-width:0px;
  position:absolute;
  left:1003px;
  top:67px;
  width:14px;
  height:14px;
}
#u9832 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
