
clip {
    @extend .shade-cut;
    position: relative;
    margin: 0 auto;
    display: block;
    overflow: hidden;
    padding:0!important;
    &:after {
        content: '';
        padding-top: 100%;
        display: block;
    }
    img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: auto;
    }
}